[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html {
	font-family: "Schoolbell", cursive;
}

.text-center {
	text-align: center;
}

h2 {
	margin: 0px;
}

td, input {
	font-size: 1.5em;
	font-family: "Schoolbell", cursive;
	margin: 0.5em auto;
	padding: 0.25em;
	border: 1px solid black;
	background-color: #ffff00;
}

input {
	border-radius: 5px;
	background-color: white;
}

input:focus {
	background-color: white;
}

table {
	margin: 0 auto;
	padding: 0 0 1em 0;
}

.print-btn:hover {
	background-color: orange;
}

.errorMsg {
	color: red;
}